:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

li {
  list-style: none;

}

a:hover {
  color: #535bf2;
}

body {
  margin: 0 4em;
   
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

textarea{
  width:100%;
  height: 100px;
  resize: none;
  outline: none;
  padding-left: 12px;
  border-radius: 12px;
  border: 1px solid #656cff ;
  background-color:#0e253a;
}
textarea:focus{
  border: 3px solid #656cff ;
}
input{
  width: 100%;
  height: 55px;
  outline: none;
  padding-left: 12px;
  border-radius: 12px;
  border: 1px solid #656cff ;
  background-color:#0e253a;
}
input:focus{
  border: 3px solid #656cff ;
}
label{
  font-size: 18px;
}

button {
  border-radius: 10px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: linear-gradient(to right, #646cff, #040a82);
  border: none;
  cursor: pointer;
  transition:transform   0.4s ease-in-out;
}

button:hover {
  border:1px solid white;
  background: linear-gradient(to left, #646cff, #040a82);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8em;
  height: 60px;
  width: 100%;
  left: 0;
  position: fixed;
  z-index: 1;
  transition: background-color 0.3s ease-in-out;

}

.header.scrolled{
  background-color: rgba(66, 93, 246, 0.4);
  backdrop-filter: blur(12px);
}
.logo h3{
  font-size: 1.5em;
}
.logo span{
  color: #979cff;
}
.navList ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navList ul li a{
 position: relative;
 color: white;
  font-size: 18px;
  
  cursor: pointer;
}

.navList ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 10px;
   background-color: #51a0fc;
   height: 4px ;
   width: 100%;
   transform: scaleX(0);
   transition:transform 0.5s ease-in-out;
}

.navList a:hover::after {
  transform: scaleX(1);
}

.openNav-btn ,.Xmark_btn{
  display: none;
}

.HeroSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3em 1em;
  height: 100vh;
  border-bottom: 1px solid gray;
}

.Home_description h2 {

  background: linear-gradient(to right, #646cff, #040a82);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3em;
  border-right: 3px solid #646cff;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(20,end) forwards, blink 0.6s infinite;
}

@keyframes typing {
  from {
    width: 0%;
  }

  to {
    width: 75%;
  }

}

@keyframes blink {
  50% {
    border-color: #213547;
  }
}

.Home_description h3 {
  background: linear-gradient(to left, #fcfcff, #595cae);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(15, end) forwards, blink 0.2s infinite;
}

.Home_description p {
  font-size: 1.4em;
  line-height: 1.5em;
  border-left: 5px solid #040a82;
  padding-left: 1em;
}

.MyImage {
  padding-top: 2em;
}

.MyImage img {
  width: 100%;
  max-width: 460px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 3em;
  filter: drop-shadow(0 5px 12px rgba(2, 38, 239, 0.6));
}

.MyImage img:hover {

  filter: drop-shadow(0 5px 12px rgba(66, 93, 246, 0.6));
}

.SocialIcons {
  display: flex;
  gap: 30px;
  padding-top: 2em;
  cursor: pointer;

}

.social-icon {

  transition: ease-in 0.4s;
}

.social-icon:hover {
  color: #f9f9f9;
  transform: translateY(-8px) scale(1.1);
}

.MyAchieved ul {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 3em;
  background: linear-gradient(to right, #373b6b, #213547, #040a82);

  padding: 1em;
  border-radius: 20px;

}

.MyAchieved ul li {
  padding-left: 1em;
  color: rgb(171, 170, 170);
}

.MyAchieved ul strong {
  color: #646cff;
  font-size: 2em;
}

.AboutSection {
  display: flex;
  padding: 3em 1em;
  margin-top: 3em;
  border-bottom: 1px solid gray;
  height: 80vh;
}

.Section_title {
  background: linear-gradient(to left, #d5d7ff, #040a82);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3em;
  border-left: 5px solid #040a82;
  padding-left: 1em;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(15) 3s forwards;

}

.Education_Experience {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8rem;
  padding-left: 2em;
}

.education,
.experience {
 
  background: linear-gradient(to right, #373b6b, #213547, #040a82);
  padding: 1em;
  border-radius: 6px;
  border: 1px solid gray;
  cursor: pointer;
  transition: 0.4s;
}

.education h2,
.experience h2 {
  color: rgb(171, 170, 170);
  font-size: 2em;
}

.education h3,
.experience h3 {
  font-size: 1.5em;
}

.education p,
.experience p {
  color: rgb(171, 170, 170);
}

.education:hover {
  transform: translateY(-10px) !important;
  background: linear-gradient(to left, #373b6b, #213547, #040a82);
}

.experience:hover {
  transform: translateY(-10px) !important;
  background: linear-gradient(to left, #373b6b, #213547, #040a82);
}

.SkillsSection{
  height: 70vh;
  border-bottom: 1px solid gray;
}
.Skills_cards {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 60px;
  margin-left: 5em;

}

.skill-card {
  background: linear-gradient(to left, #373b6b, #213547, #040a82);
  padding: 20px;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 1px solid gray;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.skill-card h4{
  color: rgb(171, 170, 170);
}
.skill-card:hover {
  transform: translateY(-10px) ;
  background: linear-gradient(to right, #575c9b, #1e4c73, #1923e6);
}

.skill-card img {
  width: 60px;
  height: 60px;
  filter: grayscale(100%);
  transition: filter 0.4s ease-in-out;
}
.skill-card img:hover {
  width: 60px;
  height: 60px;
  filter: grayscale(0%);
}

.ProjectsSection{
  border-bottom: 1px solid gray;
  padding: 3em;
}
.projects-cards{
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3,1fr);
  gap: 40px;
  width: 100%;
 
}
.project_card {
  position: relative;
  background: linear-gradient(to right, #383b61, #163149, #1e237c);
 padding: 10px;
 border-radius: 8px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}
.project_card:hover {
  transform: scale(1.02);

}
.project_card img{
  width: 100%;
  height: 230px;
  position: relative;
  text-align: center;
  transition: transform 0.4s ease-in-out;
}


.project_card p {
  color: rgb(171, 170, 170);
}
 .project_card:hover {
  background: linear-gradient(to left, #212233, #022442, #00044b);
}

.projects_links {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50% , -50%);
}
.projects_links a {
  background: linear-gradient(to left, #9fa5f8, #2a83d1, #1923e6);
  color: white;
  font-size: 20px;
  border-radius: 50%;
  margin-left: 20px;
  padding: 6px 10px ;
  text-align: center;
  transition: transform 0.4s ease-in-out;
}
.projects_links a:hover{
  background: linear-gradient(to right, #9fa5f8, #2a83d1, #1923e6);
  color: rgb(0, 0, 0);
  transform:translateX(-8px);
}
.project_technologies{
  display: grid;
  grid-template-columns: repeat(3 ,1fr);
  gap: 15px;
  align-items: center;
}
.technologies{
  display: flex;
  align-items: center;
 
 background-color: #032a4d;
 background: linear-gradient(to left, #032a4d, #496884, #060832);
 border: 1px solid gray;
 border-radius: 12px;
 padding: 3px;
 transition: transform 0.4s ease-in-out;
}
.technologies:hover{
  background: linear-gradient(to right, #0e508a, #496884, #1a1c41);
  transform: translateY(-6px);
}

.tech_name,.tech_icon{
  padding-left: 6px;
  text-align: center;
  font-size: 12px;
}
.tech_icon{
  color: white;
}
.tech_name{
  color: rgb(171, 170, 170);
  font-weight: 500;
}

.ContactSection{
  border-bottom: 1px solid gray;
  padding: 3em 3em;
}
.contact_container{
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
.contact_information{
  display: flex;
  flex-direction: column;
  gap: 20px; 
  background-color: #163149;
  padding: 3em;
  height: 30%;
  border-radius: 6px;
}
.contact_information h3{
  font-size: 22px;
}
.contact_information a{
  color: rgb(171, 170, 170);
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact_form form{ 
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 450px;
  padding: 2em;
  background-color: #163149;
  border-radius: 6px;
}
.contact_form form button{ 
 height: 55px;
}
 
.FooterSection{
  padding-top: 3em;
}
.footer_container{
  text-align: center;
}
.footer_container a{
 padding-left: 1em;
 font-size: 22px;
}
.footer_container p{
 padding-top: 15px;
 font-size: 20px;
 color:rgb(171, 170, 170); ;
}

@media (max-width: 480px) {
  body {
    margin: 0;
    padding: 0;
  }

  .Section_title {
    font-size: 1.7em;
    border-left: 3px solid #040a82;
   
    white-space:normal;
   
  }

  .header {
    padding: 2em;
  }

  .navList ul {
    flex-direction: column;
    gap: 20px;
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
    padding: 3em;
    background: linear-gradient(to right, #383b61, #163149, #1e237c);
    width: 100%;
    transition:  transform 0.4s ease-in-out;
  }
  .navList ul:hover {
    background: linear-gradient(to left, #383b61, #163149, #1e237c);
  }
  .nav_visibility{
    display: none ;
  }
  .openNav-btn ,.Xmark_btn{
    display: block;
    cursor: pointer;
  }
 
  .Xmark_btn{
    position: absolute;
    left: 5%; 
    top: 0;
   padding: 0.5em;
  }
  .openNav-btn{
   padding: 0.5em;
  }
 

  .HeroSection {
    flex-direction: column;
    margin: 0 0.5em;
    height: auto;
  }
  
  .Home_description h2,
  .Home_description h3 {
    font-size: 1.3em;
    font-weight: 900;
    margin-top: 2em;
    padding: 0 1em;
  }

  .Home_description p {
    padding: 0 1em;
    font-size: 1em;
  }

  .SocialIcons {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 25px;
  }
  
  .MyImage img {
    background-color: #0e508a;
    padding: 2em 3em;
    height: 450px;
    width: 380px;
    transition: transform 0.4s ease-out;
  }
  .MyImage img:hover {
    border: 3px solid aliceblue;
    transform: scale(1.03);
  }

  .MyAchieved {
    margin: 2em 1em;
    text-align: center;
  }

  .MyAchieved ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .AboutSection {
    height: auto;
    margin: 0;
    padding: 2em 1em;
    text-align: center;
  }

  .Education_Experience {
    flex-direction: column;
    gap: 2rem;
    padding: 0;
  }

  .education,
  .experience {
    width: 100%;
    padding: 1em;
  }

  .SkillsSection {
    height: auto;
    padding: 2em 1em;
  }

  .Skills_cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
   justify-content: center;
   margin-left: 2em;
  }
.skill-card img{
  filter: grayscale(0%);
}
  .projects-cards {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
    text-align: center;
   
  }

  .project_card h3 {
    font-size: 16px;
  }

  .contact_container {
    flex-direction: column;
    gap: 15px;
  }

  .contact_form form {
    width: 100%;
  }
}



